:root  > * {
    /*website schemes*/
  --md-primary-fg-color:        #830000;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;

  /*font schemes*/
  --md-text-font: "Telex";
  --md-default-fg-color: #e3e4da;
  --md-default-fg-color--light: #c9c5bb;
  --md-default-fg-color--lighter: #c9c7bb;
}

[data-md-color-scheme="slate"] {
  /*--md-hue: 210;*/
    background-color: #1f1f1f
}

@font-face {
  font-family: "Telex";
  /*src:  url("../font/Telex/Telex-Regular.ttf") format('truetype');*/
  src:  url("../font/PT_Sans/PTSans-Regular.ttf") format('truetype');

}