:root  > * {
    /*website schemes*/
  --md-primary-fg-color:        #830000;

  /*font schemes*/
  /*--md-text-font: "Telex";*/
  --md-default-fg-color: #e7e7e7;
  --md-default-fg-color--light: #cccccc;
  --md-default-fg-color--lighter: #c7c7c7;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: rgb(20, 20, 22);
}

/* Normal links */
.md-typeset a {
  color: #0074e9;
}

.md-typeset .grid.cards a {
  color: #e3e4da;          /* normal text */
}


.md-sidebar .md-nav__link--active {
  color: #f10000 !important;
}
/*
@font-face {
  font-family: "Telex";
  src:  url("../font/Arimo/static/Arimo-Regular.ttf") format('truetype');

}
*/